@import "../../assets/theme.scss";

.image-card {
  background-color: $primary-background;
  padding: 0px 4px;
  border-radius: 5px;
  img {
    width: 100%;
    border-radius: 5px;
  }
  &-title {
    width: fit-content;
    margin: 5px auto;
    color: $main-title-color;
    font-family: "Londrina Outline", cursive;
    font-weight: 700;
  }
}
.image-card:hover {
  transform: scale(1.1);
}
